[submodule "home/.vim/colors"]
	path = home/.vim/colors
	url = git://gist.github.com/1523432
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/pathogen"]
	path = home/.vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
