[submodule "nvim/pack/plugins/start/vim-tmux-navigator"]
	path = nvim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "nvim/pack/plugins/start/neovim-sensible"]
	path = nvim/pack/plugins/start/neovim-sensible
	url = git@github.com:jeffkreeftmeijer/neovim-sensible.git
[submodule "nvim/pack/plugins/start/vim-dim"]
	path = nvim/pack/plugins/start/vim-dim
	url = git@github.com:jeffkreeftmeijer/vim-dim.git
[submodule "nvim/pack/plugins/start/vim-numbertoggle"]
	path = nvim/pack/plugins/start/vim-numbertoggle
	url = git@github.com:jeffkreeftmeijer/vim-numbertoggle.git
[submodule "nvim/pack/plugins/start/fzf.vim"]
	path = nvim/pack/plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "nvim/pack/plugins/start/goyo.vim"]
	path = nvim/pack/plugins/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "nvim/pack/plugins/start/vim-polyglot"]
	path = nvim/pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "nvim/pack/plugins/start/vim-commentary"]
	path = nvim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "nvim/pack/plugins/start/vim-fugitive"]
	path = nvim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "nvim/pack/plugins/start/ale"]
	path = nvim/pack/plugins/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "nvim/pack/plugins/start/vim-rhubarb"]
	path = nvim/pack/plugins/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "nvim/pack/plugins/start/deoplete.nvim"]
	path = nvim/pack/plugins/start/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "nvim/pack/plugins/start/alchemist.vim"]
	path = nvim/pack/plugins/start/alchemist.vim
	url = git@github.com:slashmili/alchemist.vim
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule "nvim/pack/plugins/start/vim-surround"]
	path = nvim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "nvim/pack/plugins/start/vim-test"]
	path = nvim/pack/plugins/start/vim-test
	url = git@github.com:janko-m/vim-test.git
[submodule "nvim/pack/plugins/start/tslime.vim"]
	path = nvim/pack/plugins/start/tslime.vim
	url = git@github.com:jgdavey/tslime.vim.git
[submodule "nvim/pack/plugins/start/dracula"]
	path = nvim/pack/plugins/start/dracula
	url = git@github.com:dracula/vim.git
[submodule "nvim/pack/plugins/start/vimux"]
	path = nvim/pack/plugins/start/vimux
	url = git@github.com:benmills/vimux.git
[submodule "nvim/pack/plugins/start/vim-tmux-runner"]
	path = nvim/pack/plugins/start/vim-tmux-runner
	url = git@github.com:christoomey/vim-tmux-runner.git
[submodule "nvim/pack/plugins/start/neosnippet.vim"]
	path = nvim/pack/plugins/start/neosnippet.vim
	url = git@github.com:Shougo/neosnippet.vim.git
[submodule "nvim/pack/plugins/start/vim-snippets"]
	path = nvim/pack/plugins/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "nvim/pack/plugins/start/vim-mix-format"]
	path = nvim/pack/plugins/start/vim-mix-format
	url = git@github.com:mhinz/vim-mix-format.git
[submodule "nvim/pack/plugins/start/vim-noctu"]
	path = nvim/pack/plugins/start/vim-noctu
	url = git@github.com:noahfrederick/vim-noctu.git
[submodule "nvim/pack/plugins/start/vim-mucomplete"]
	path = nvim/pack/plugins/start/vim-mucomplete
	url = git@github.com:lifepillar/vim-mucomplete.git
[submodule "nvim/pack/plugins/start/vim-auto-save"]
	path = nvim/pack/plugins/start/vim-auto-save
	url = git@github.com:vim-scripts/vim-auto-save.git
[submodule "nvim/pack/plugins/start/ultisnips"]
	path = nvim/pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "git-prompt.sh"]
	path = git-prompt.sh
	url = https://github.com/jeffkreeftmeijer/git-prompt.sh.git
